{
  "serverUrl": "https://sys.sipesv.com",
  "companyId": 1,
  "deviceId": 1,
  "deviceName": "Marcador Digital ZKTeco",
  "agentKey": "PEGAR_CLAVE_AQUI",
  "deviceIp": "192.168.3.201",
  "devicePort": 4370,
  "commKey": 0,
  "protocol": "tcp",
  "syncIntervalSeconds": 30,
  "realTimeEnabled": true
}
